
{{#each posts as |post| }}
<div class="project" style="background-color:#ccdad1">
  <div class="postTitle" style="background-color:#201110">
    <h2>
      <a  style="color:rgb(244, 246, 248);" href="/api/posts/getpost/{{post.id}}">{{post.title}}</a>
    </h2>
    <p style="color:rgb(244, 246, 248);">Created by {{post.user.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_text}}
    </p>
  </div>
</div>
{{/each}}

