<div class="row mb-4 project">
  <div class="col-md-5">
    <h1>
      <a href="/api/posts/getpost/{{id}}">{{title}}</a>
    </h1>
  </div>
  
  <div class="col-md-7">
    <h3>
      {{post_text}}
      <p>Created by {{user.username}} on {{createdAt}}</p>
    </h3>
    
  </div>
</div>
<div>
 <br>
<div>
     <h3>Comments:</h3>
     
     {{#each comments as |comment|}}
<div>
     <h4> User: {{comment.user.username}}</h4>
      <h3>{{comment_text}}
        <p>{{createdAt}}</p>
      </h3>
     
</div>
{{/each}}
</div>

</div>

<br>
<form class="form new-Post-form">
     
      <div class="form-group">
        <label for="content">Leave a Comment:<span id = "postId"> {{id}} </span></label>
        <textarea class="form-input" id="content" name="content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id = "submit"  class="btn btn-primary">Create</button>
      </div>
    </form>

    <section></section>


    <script src="/javascript/comment.js"></script>